


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
 <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>

  <%= devise_error_messages! %>
<div class="row">
  <div class="col-xs-4">
  <%= f.email_field :email, autofocus: true, class: "form-control", :placeholder => "Email Address" %>
  </div>
</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="row">
          <div class="col-xs-4">
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
              </div>
            </div>
  <% end %>

    <div class="row">
      <div class="col-xs-4">
  <%= f.password_field :current_password, autocomplete: "off", class: "form-control", :placeholder => "Current Password" %>
</div>
      </div>
    <div class="row">
      <div class="col-xs-4">
  <%= f.password_field :password, autocomplete: "off", class: "form-control", :placeholder => "Password" %>
</div>
      </div>
    <div class="row">
      <div class="col-xs-4">
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", :placeholder => "Password Confirmation" %>
</div>
      </div>
    <div class="row">
      <div class="col-xs-4">
    <%= content_tag :button, :type => :submit, :class => "btn btn-lg btn-primary btn-block" do %>
        Update
    <% end %>
          </div>
        </div>

<% end %>

<%= link_to "Back", :back, class: "btn btn-default btn-xs" %>
