<!DOCTYPE html>
<html>
<head>
  <title>KeyboardApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<% if user_signed_in? %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Home", root_url, class: "navbar-brand" %>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li style="width:700px;">
              <div class="row" style="width: 100%;padding:0 0 0 1em;">
             <% item_count = 0 %>
             <% total_item_count = 1 %>
            <% get_all_languages_distinct.each do |lang| %>
                <% if item_count == 0  %>
                    <ul class="list-unstyled col-md-4">
                <%
                    all = ISO::Language.all
                   end %>
                <% iso_language = LanguageList::LanguageInfo.find(lang.iso_language)
                  if !iso_language.nil?
                   iso_code = iso_language.iso_639_1
                   iso_name = iso_language.name.to_s + ' (' + iso_code + ')'
                else
                   iso_name = lang.iso_language
                   iso_code = lang.iso_language
                end%>
                <li><%= link_to iso_name , language_path(iso_language: iso_code) %></li>
                    <% if item_count == languages_per_column || total_item_count == languages_count %>
                        </ul>
                    <%
                       item_count = 0
                       else
                     item_count += 1
                    end
                    total_item_count += 1
                    %>
            <% end %>
            </div>
        </li>

          </ul>
        </li>
        <li>
          <button type="button" class="btn btn-primary navbar-btn create-keyboard" data-toggle="modal" data-target="#key_new_modal">Create New Keyboard</button>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%
             require 'digest/md5'
             email_address = current_user.email.downcase
             hash = Digest::MD5.hexdigest(email_address)
             image_src = "http://www.gravatar.com/avatar/#{hash}"
          %>
          <%= image_tag(image_src, class:"gravatar img-responsive") %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.email %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><%= link_to("User Profile", edit_user_registration_path) %></a></li>
            <li class="divider"></li>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                </li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <% end %>

<% if notice %>
    <div class="alert alert-success"><%= notice %></div>
<% end %>
<% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
<% end %>

<% if user_signed_in? %>
<div class="container">
<% end %>
<%= content_for?(:content) ? yield(:content) : yield %>
<% if user_signed_in? %>
</div>

<%= render "modals/key_new" %>

<% end %>

</body>
</html>
